@font-face {
    font-family: "Cuprum";
    src: local("Cuprum"), 
         url("../font/Cuprum-Regular.woff2") format("woff2"),
         url("../font/Cuprum-Regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Cuprum";
    src: local("Cuprum"), 
         url("../font/Cuprum-Bold.woff2") format("woff2"),
         url("../font/Cuprum-Bold.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "Cuprum";
    src: local("Cuprum"), 
         url("../font/Cuprum-Italic.woff2") format("woff2"),
         url("../font/Cuprum-Italic.woff") format("woff");
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: "PT Sans";
    src: local("PT Sans"), 
         url("../font/PTSans-Regular.woff2") format("woff2"),
         url("../font/PTSans-Regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "PT Sans";
    src: local("PT Sans"), 
         url("../font/PTSans-Bold.woff2") format("woff2"),
         url("../font/PTSans-Bold.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}
:root {
    --color-basic-dark: #161D29;
    --color-basic-darkblue: #293449;
    --color-basic-darksky: #405069;
    --color-basic-blue: #32425C;
    --color-basic-blue-transparent-50: rgba(50, 66, 92, 0.5);
    --color-basic-red: #EE3643;
    --color-basic-darkred: #CA2C37;
    --color-basic-green: #63A63E;
    --color-basic-greendark: #367315;
    --color-basic-greengrass: #518534;
    --color-basic-grey: #3D546F;
    --color-basic-greylight: #C5C5C5;
    --color-basic-greylight-transparent-30: rgba(197, 197, 197, 0.3);

    --color-basic-sand-color: #F9F5F0;    
    --color-basic-greydark: #A9A9A9;
    --color-basic-greydark-transparent-30: rgba(169, 169, 169, 0.3);

    --color-basic-background: #F1F5F7;
    --color-basic-background-transparent-50: rgba(241, 245, 247, 0.5);
    --color-basic-background-light: #F2F6F8;
    --color-basic-white: #FFFFFF;
    --color-basic-white-transparent-30: rgba(255,255,255, 0.3);
    --color-basic-white-transparent-50: rgba(255,255,255, 0.5);
    --color-basic-darknight: #1D2739;
    --color-basic-black: #000000;
    --color-basic-black-transparent-30: rgba(0,0,0, 0.3); 
    --color-basic-orangelight:#F7F3EC;
    --color-special-yellow: #FFBF47;
    --color-special-orange: #FFC047;
    --color-special-blue: #3BBCE3;
    --color-special-lilac: #DC91D8;
    --color-special-greenlight: #8ED78F;
    --color-special-yellowlight: #FFD180;
    --color-special-yellow-soft: #FFDA96;
    --color-special-yellowlight-transparent-50: rgba(255, 209, 128, 0.5);
    --color-success: #5FBB2D;
    --color-warning: #FFBF47;
    --color-error: #BA2732;
    --color-greylight: #EAEAEA;
    --color-basic-transparent: transparent;
    --color-groomy: #212A3A;
    --color-basic-shadow: rgba(0, 0, 0, 0.15);
    --color-basic-logo-shadow: rgba(0, 0, 0, 0.24);
    --color-basic-foggy: #F3F7F9;
}
a { text-decoration: none; }
*, *::before, *::after { box-sizing: border-box; }
.modal-map,
.modal-feedback,
.catalog-modal {
    display: none;
}
body {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    color: var(--color-basic-black);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 130px;
    padding-right: 130px;
}
.main-header {
    background-color: var(--color-basic-background);
}
.main-header__top {
    background-color: var(--color-basic-darkblue);
}
.main-header__logo {
    padding-top: 12px;
    padding-left: 55px;
    padding-right: 57px;
    margin-bottom: -5px;
    background-color: var(--color-basic-red);
    box-shadow: inset 0px -5px 0px var(--color-basic-logo-shadow);
}
.main-header__logo:active {
    background-color: var(--color-error);
}
.main-header__input-search {
    display: flex;
    align-items: baseline;
}
.main-header__top input {
    width: 237px;
    padding-top: 9px;
    padding-bottom: 9px;
    color: var(--color-basic-black);
    background-color: var(--color-basic-transparent);
    padding-left: 8px;
    line-height: 24px;
    border: none;
    outline: none;
}
.main-header__top input::placeholder {
    color: var(--color-basic-white);
}
.main-header__input-search svg {
    margin-left: 17px;
}
.main-header__input-search .main-header__input-search-icon{
    fill: var(--color-basic-white);
    opacity: 0.3;
}
.main-header__input-search:hover .main-header__input-search-icon{
    fill: var(--color-basic-white);
    opacity: 1;
}
.main-header__input-search:focus-within .main-header__input-search-icon{
    fill: var(--color-basic-red);
    opacity: 1;
}
.main-header__top .main-header__input-search:focus-within{
    background-color: var(--color-basic-white);
}

.main-header__top .bookmarks {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    color: var(--color-basic-white);
}

.main-header__top .bookmarks::before {
    content: '';
    width: 14px;
    height: 16px;
    background-image: url('../img/icon-bookmark.svg');
    background-repeat: no-repeat;
    background-size: 14px 16px;
    opacity: 0.3;
    margin-right: 9px;
}
.main-header__top .bookmarks:hover::before,
.main-header__top .bookmarks:focus::before {
    opacity: 1;
}
.main-header__top .bookmarks:active {
    color: var(--color-basic-white-transparent-50);
    background-color: var(--color-basic-dark);
}
.main-header__top .bookmarks:active::before {
    opacity: 0.3;
}
.main-header__top .basket {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    color: var(--color-basic-white);
}
.main-header__top .basket::before {
    content: '';
    width: 15px;
    height: 15px;
    background-image: url('../img/icon-cart.svg');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    opacity: 0.3;
    margin-right: 8px;
}
.main-header__top .basket:hover::before,
.main-header__top .basket:focus::before {
    opacity: 1;
}
.main-header__top .basket:active {
    color: var(--color-basic-white-transparent-30);
    background-color: var(--color-basic-dark);
}
.main-header__top .basket:active::before {
    opacity: 0.3;
}
.basket_active {
    background-color: var(--color-basic-red);
}
.main-header__top .order {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    background-color: var(--color-basic-green);
    color: var(--color-basic-white);
}
.main-header__top .order:hover,
.main-header__top .order:focus {
    background-color: var(--color-success);
}
.main-header__top .order:active {
    background-color: var(--color-basic-green);
    color: var(--color-basic-white-transparent-30);
}
.main-header__top-wrapper {
    display: flex;
    justify-content: flex-end;
}
.main-header__form {
    margin-right: auto;
}
.main-header__middle-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 45px;
}
.main-header__about {
    flex-basis: 197px;
}
.main-header__info {
    text-align: center;
    margin-left: 93px;
}
.main-header__middle-wrapper i {
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: var(--color-basic-red);
}
.main-header__info  .phone {
    display: inline-block;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--color-basic-red);
    box-shadow: inset 0 0 0 3px var(--color-basic-white);
    padding-top: 7px;
    padding-bottom: 8px;
    padding-left: 37px;
    padding-right: 42px;
}
.main-header__info  .phone::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
    width: 19px;
    height: 19px;
    background-image: url('../img/icon-phone.svg');
    background-repeat: no-repeat;
    background-size: 19px 19px;
}
.main-header__info  .address {
    color: var(--color-basic-blue);
    font-size: 14px;
    font-style: normal;
    margin-top: 3px;
}
.guest-navigation {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 72px;
}
.guest-navigation__link {
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: var(--color-basic-white);
    font-size: 21px;
    line-height: 21px;
    color: var(--color-basic-black);
} 
.guest-navigation__item:nth-child(1) .guest-navigation__link {
    display: flex;
    align-items: center;
    padding-left: 19px;
    padding-right: 27px;
    margin-right: 10px;
}
.guest-navigation__item:nth-child(2) .guest-navigation__link {
    padding-left: 24px;
    padding-right: 24px;
}
.guest-navigation__item:nth-child(1) .guest-navigation__link::before {
    content: '';
    width: 20px;
    height: 17px;
    margin-right: 6px;
    background-image: url('../img/icon-login.svg');
    background-repeat: no-repeat;
    background-size: 19px 17px;
}
.guest-navigation__item:nth-child(1) .guest-navigation__link:hover::before {
    background-image: url('../img/icon-login-hover.svg');
}
.guest-navigation__item:nth-child(1) .guest-navigation__link:hover,
.guest-navigation__item:nth-child(2) .guest-navigation__link:hover {
    color: var(--color-basic-red);
}
.guest-navigation__item:nth-child(1) .guest-navigation__link:active::before {
    background-image: url('../img/icon-login.svg');
}
.guest-navigation__item:nth-child(1) .guest-navigation__link:active,
.guest-navigation__item:nth-child(2) .guest-navigation__link:active {
    color: var(--color-basic-greylight);
}
.main-navigation {
    padding-bottom: 60px;
}
.main-navigation__link{
    display: block;
    padding-top: 16px;
    padding-bottom: 20px;
    padding-left: 27px;
    padding-right: 24px;
    color: var(--color-basic-white);
}
.main-navigation__link:hover {
    background-color: var(--color-basic-darkblue);
}
.main-navigation__link:active {
    color: var(--color-basic-white-transparent-50);
    background-color: var(--color-basic-darknight);
}
.main-navigation__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 25px;
    padding-right: 22px;
    margin-top: 44.5px;
    background-color: var(--color-basic-blue);
    box-shadow: inset 0px -5px 0px var(--color-basic-darkblue);
}
.about-contacts {
    background-color: var(--color-basic-white);
}
.about-contacts .about {
    flex-basis: 478px;
    display: flex;
    flex-direction: column;
}
.about-contacts .contacts {
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
}
.transport-companies-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.about-contects__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 70px;
}
.about-contacts .about-title,
.about-contacts .contacts-title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    margin: 0;
}
.about-contacts .about-text,
.about-contacts .contacts-text {
    font-family: 'PT Sans';
    font-size: 13px;
}
.main-footer__top{
    padding-bottom: 54px;
    background-color:var(--color-basic-blue);
}
.main-footer__logo {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 41px;
    padding-right: 41px;
    background-color: var(--color-basic-red);
    box-shadow: inset 0px -5px 0px var(--color-basic-logo-shadow);
    margin-bottom: 22px;
}
.main-footer__logo:active {
    background-color: var(--color-error);
}
.promo {
    margin-top: 69px;
}
.addition-navigation,
.promo-navigation {
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.addition-navigation {
    margin-top: 40px;
    width: 547px;
}
.promo-navigation { 
    margin-top: 45px;
    width: 524px;
}
.addition-navigation__link{
    color: var(--color-basic-background);
}
.addition-navigation__link:hover {
    text-decoration: underline;
}
.addition-navigation__link:active {
    color: var(--color-basic-background-transparent-50);
    text-decoration: none;
}
.main-footer__info a,
.main-footer__info address {
    font-style: normal;
    color: var(--color-basic-foggy);
}
.promo-navigation__link {
    color: var(--color-special-yellowlight);
}
 
.promo-navigation__item:nth-child(2) .promo-navigation__link {
    color: var(--color-special-yellow-soft);
}
.promo-navigation__link:hover {
    text-decoration: underline;
} 
.promo-navigation__link:active {
    color: var(--color-special-yellowlight-transparent-50);
    text-decoration: none;
} 
.main-footer__bottom {
    background-color: var(--color-basic-darkblue);
}
.main-footer__copyright {
    color: var(--color-basic-white);
    font-size: 16px;
    line-height: 18px;
    width: 227px;
    margin: 0;
    margin-right: 162px;
}
.main-footer .feedback,
.main-footer .development {
    font-size: 16px;
    line-height: 18px;
    color: var(--color-basic-white);
}
.main-footer .feedback a,
.main-footer .development a {
    color: var(--color-special-yellowlight);
}
.main-footer .feedback a:hover,
.main-footer .development a:hover {
    text-decoration: underline;
}
.main-footer .feedback a:active,
.main-footer .development a:active {
    color: var(--color-basic-red);
    text-decoration: none;
}
.social__link {
    display: block;
    width: 42px;
    height: 42px;
    background-color: var(--color-groomy); 
    border-radius: 50%;
}
.social__link:hover,
.social__link:active,
.social__link:focus {
    background-color: var(--color-basic-red);
}
.social__item:nth-child(1) .social__link {
    background-image: url('../img/icon-vk.svg');
    background-repeat: no-repeat;
    background-size: 26px 15px;
    background-position: 8px 14px;
}
.social__item:nth-child(2) .social__link {
    background-image: url('../img/icon-fb.svg');
    background-repeat: no-repeat;
    background-size: 12px 22px;
    background-position: 15px 10px;
}
.social__item:nth-child(3) .social__link {
    background-image: url('../img/icon-insta.svg');
    background-repeat: no-repeat;
    background-size: 21px 21px;
    background-position: 11px 11px;
}
.user-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-basic-white);
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 17px;
    margin-bottom: 7px;
}

.user-control__item:nth-child(1) .user-control__link {
    display: flex;
    align-items: center;
    font-size: 21px;
    line-height: 21px;
    color: var(--color-basic-black);
}
.user-control__item:nth-child(1) .user-control__link::before {
    content: '';
    width: 20px;
    height: 18px;
    background-image: url('../img/icon-user.svg');
    background-repeat: no-repeat;
    background-size: 20px 18px;
    margin-right: 21px;
}
.user-control__item:nth-child(1) .user-control__link:hover::before {
    background-image: url('../img/icon-user_hover.svg');
}
.user-control__item:nth-child(1) .user-control__link:active::before {
    background-image: url('../img/icon-user.svg');
}
.user-control__item:nth-child(1) .user-control__link:active {
    color: var(--color-basic-greylight);
}
.user-control__item:nth-child(2) .user-control__link{
    display: flex;
    align-items: center;
}
.user-control__item:nth-child(2) .user-control__link::before {
    content: '';
    width: 20px;
    height: 17px;
    background-image: url('../img/icon-logout.svg');
    background-repeat: no-repeat;
    background-size: 20px 17px;
}
.user-control__item:nth-child(2) .user-control__link:hover::before {
    background-image: url('../img/icon-logout_hover.svg');
}
.user-control__item:nth-child(2) .user-control__link:active::before {
    background-image: url('../img/icon-logout.svg');
}
.user-service {
    width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.user-service__item:nth-child(2) .user-service__link {
    display: flex;
    align-items: center;
}
.user-service__item:nth-child(2) .user-service__link::before { 
    content: '';
    width: 4px;
    height: 4px;
    background-color: var(--color-basic-blue);
    border-radius: 50%;
    margin-right: 14px;
}
.user-service__link {
    font-size: 16px;
    line-height: 18px;
    color: var(--color-basic-blue);
}
.user-service__link:hover {
    color: var(--color-basic-red);
}
.user-service__link:active {
    color: var(--color-basic-greylight);
}
.breadcrumbs {
    display: flex;
    list-style: none;
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--color-basic-black);
    margin: 0;
    padding: 0;
    margin-top: 21px;
    margin-bottom: 20px;
}
.breadcrumbs__link { 
    color: var(--color-basic-black);
}
.breadcrumbs__item:first-child .breadcrumbs__link {
    background-image: url('../img/icon-home.svg');
    background-repeat: no-repeat;
    background-size: 14px 12px;
}
.breadcrumbs__item:not(:last-child) .breadcrumbs__link::after {
    display: inline-block;
    content: '';
    width: 8px;
    height: 12px;
    background-image: url('../img/icon-right-small.svg');
    background-repeat: no-repeat;
    background-size: 8px 12px;
    margin: 0 15px;
}
.breadcrumbs__item:first-child .breadcrumbs__link::after {
    margin-left: 30px;
}
.main-title {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--color-basic-blue);
    background-color: var(--color-basic-background-light);
    margin: 0;
    padding-top: 29px;
    padding-left: 29px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.filters legend {
    font-family: 'PT Sans';
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
}
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
fieldset:nth-child(3) legend {
    letter-spacing: 0.0484964px;;
}
.filters label{
    font-family: 'PT Sans';
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    background-color: var(--color-basic-white);
}
.filters button {
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--color-basic-white);
}
.filters input[type="checkbox"] {
    margin-right: 12px;
}
.filters input[type="radio"] {
    margin-right: 10px;
}
.filters fieldset:nth-child(1) { 
    margin-top: 14px;
}
.filters fieldset:nth-child(2) { 
    margin-top: 42px;
}
.filters fieldset:nth-child(3) { 
    margin-top: 45px;
}
.filters fieldset {
    position: relative;
}
.filters fieldset:not(:first-child)::before {
    position: absolute;
    top: -16px;
    content: '';
    width: 220px;
    height: 1px;
    background-color: #293449;
}
.popular-goods {
    margin-top: 69px;
}
.popular-goods,
.popular-manufacturers {
    margin-bottom: 70px;
}
.catalog-list,
.popular-goods-list {
    font-family: 'PT Sans'; 
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 20px;
}
.catalog-list {
    grid-template-columns: auto auto auto;
}
.popular-goods-list {
    grid-template-columns: auto auto auto auto;
 }
.popular-goods-item,
.catalog__item {
    width: 220px;
}
.popular-goods-item article,
.catalog__item article {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:  center;
    padding-top: 22px;
    padding-bottom: 21px;
    padding-left: 30px;
    padding-right: 30px;
}
.catalog__item,
.popular-goods-item {
    position: relative;
    overflow: hidden;
    background-color: var(--color-basic-white);
    border: 1px solid var(--color-greylight);
}
.catalog__item:hover,
.popular-goods-item:hover {
    box-shadow: 0px 4px 20px var(--color-basic-shadow);
}
.catalog__item-title,
.popular-goods-item h3 {
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    margin: 0;
    margin-top: 28px;
    margin-bottom: 38px;
}
.catalog__link,
.popular-goods-item a {
    font-size: 18px;
    color: var(--color-basic-black);
}
.catalog__item .old-price,
.catalog__item .new-price,
.popular-goods-item .old-price,
.popular-goods-item .new-price{
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: var(--color-basic-greydark);
}
.catalog__item .new-price,
.popular-goods-item .new-price{
    color: var(--color-basic-white);
    width: 141px;
    height: 38px;
    background-image: url('../img/red-button.svg');
    background-repeat: no-repeat;
    background-size: 141px 38px;
}
.popular-goods-item .new-price,
.catalog__item .new-price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.popular-goods-item .old-price,
.catalog__item .old-price {
    position: absolute;
    top: 228px;
}
.catalog__item-buttons button,
.popular-goods-item .buttons button {
    text-transform: uppercase;
    font-family: 'Cuprum';
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    border: none;
    outline: none;
    cursor: pointer;
}
.catalog__item-buttons button:nth-child(1),
.popular-goods-item .buttons button:nth-child(1) {
    display: inline-block;
    background-color: var(--color-basic-green);
    color: var(--color-basic-white);
    border-radius: 2px;
    box-shadow: inset 0px -3px 0px var(--color-basic-greendark);
}
.catalog__item-buttons button:nth-child(1)::before,
.popular-goods-item .buttons button:nth-child(1)::before{
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url('../img/icon-cart.svg');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    opacity: 0.3;
}
.catalog__item-buttons button:nth-child(1):hover,
.popular-goods-item .buttons button:nth-child(1):hover,
.catalog__item-buttons button:nth-child(1):focus,
.popular-goods-item .buttons button:nth-child(1):focus {
    background-color: var(--color-success);
}
.catalog__item-buttons button:nth-child(1):active,
.popular-goods-item .buttons button:nth-child(1):active {
    background-color: var(--color-basic-greengrass);
}
.catalog__item-buttons button:nth-child(2),
.popular-goods-item .buttons button:nth-child(2) {
    display: inline-block;
    background-color: var(--color-basic-white);
    color: var(--color-basic-blue);
    border: 3px solid var(--color-basic-green);
    border-radius: 2px;
}
.catalog__item-buttons button:nth-child(2):hover,
.popular-goods-item .buttons button:nth-child(2):hover,
.catalog__item-buttons button:nth-child(2):focus,
.popular-goods-item .buttons button:nth-child(2):focus {
    border-color: var(--color-basic-blue);
}
.catalog__item-buttons button:nth-child(2):active,
.popular-goods-item .buttons button:nth-child(2):active {
    border-color: var(--color-basic-blue-transparent-50);
    color: var(--color-basic-blue-transparent-50);
}
.catalog__item-buttons,
.popular-goods-item .buttons  {
    display: none;
}
.promo__products-item_status_new::after,
.catalog__item_status_new::after,
.popular-goods-item_status_new::after {
    position: absolute;
    top: 8px;
    right: -25px;
    content: 'new';
    display: block;
    width: 100px;
    height: 30px;
    font-family: 'Cuprum';
    color: var(--color-basic-white);
    background-color: var(--color-basic-red);
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    transform: rotate(45deg);
}
.promo-products-content a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    min-height: 38px;
    text-transform: uppercase;
    color: var(--color-basic-white);
    font-size: 14px;
    line-height: 18px;
    background-color: var(--color-basic-white-transparent-30);
}
.promo-products-content a:hover {
    background-color: var(--color-basic-greylight-transparent-30);
}
.promo-products-content a:active {
    background-color: var(--color-basic-greydark-transparent-30);
}
.popular-goods__header,
.popular-manufacturers__header {
    background-color: var(--color-basic-sand-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-left: 28px;
    padding-top: 25px;
    padding-right: 19px;
    padding-bottom: 26px;
}
.popular-goods__header .popular-goods__title,
.popular-manufacturers__header .popular-manufacturers__title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: var(--color-basic-blue);
    margin: 0;
}
.services__slider-content {
    margin: 0;
}
.about-contacts .contacts__button, 
.popular-goods__header a,
.popular-manufacturers__header a,
.promo__slider a,
.services__slider-content-item a,
.about-contacts .about__read-more-button {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: var(--color-basic-white);
    background-color: var(--color-basic-red);
    border: none;
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 40px;
    padding-right: 40px;
}
.about-contacts .contacts__button:hover,
.popular-goods__header a:hover,
.about-contacts .about__read-more-button:hover,
.promo__slider a:hover,
.services__slider-content-item a:hover,
.popular-manufacturers__header a:hover {
    background-color: var(--color-basic-darkred);
}
.about-contacts .contacts__button:active,
.popular-goods__header a:active,
.promo__slider a:active,
.about-contacts .about__read-more-button:active,
.popular-manufacturers__header a:active,
.services__slider-content-item a:active {
    background-color: var(--color-error);
}
.contacts__button {
    margin-top: 25px;
}
.about__read-more-button {
    margin-right: auto;
}
.promo__slider {
    height: 100%;
    background-color: var(--color-basic-grey);
}
.promo__slider h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--color-basic-white);
    margin: 0;
}
.promo__slider p {
    color: var(--color-basic-white);
}
.promo__slider-buttons-control button {
    border: none;
    background-color: var(--color-basic-transparent);
    cursor: pointer;
}
.promo__slider-buttons-control button:hover {
    opacity: 0.5;
}
.promo__slider-buttons-control button:active {
    opacity: 0.8;
}
.promo__slider-buttons-control button:nth-child(1){
    width: 22px;
    height: 40px;
    background-size: 22px 40px;
    background-image: url('../img/icon-left.svg');
}
.promo__slider-buttons-control button:nth-child(2){
    width: 22px;
    height: 40px;
    background-size: 22px 40px;
    background-image: url('../img/icon-left.svg');
    transform: rotate(-180deg);
}
.services {
    background-color: var(--color-basic-background);
    padding-top: 64px;
}
.services__title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--color-basic-black);
}
.services p {
    width: 394px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: var(--color-basic-black);
}
.services__slider-control-item {
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--color-basic-white);
    background-color: var(--color-basic-blue);
    box-shadow: 0px 1px 0px var(--color-basic-darkblue), inset 0px 1px 0px var(--color-basic-darksky);
} 
.services__slider-control-item_active {
    color: var(--color-basic-blue);
    background-color: var(--color-basic-white);
    box-shadow: 0px 1px 0px var(--color-basic-white);
}
.services__slider-control-item:hover {
    background-color: var(--color-basic-darkblue);
    color: var(--color-basic-white);
    cursor: pointer;
}
.services__slider-content-item h3 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--color-basic-blue);
}
.services__slider-content-item p {
    font-family: 'PT Sans';
    font-size: 13px;
}
.catalog__header {
    display: flex;
    align-items: center;
    background-color: var(--color-basic-orangelight);
    padding-left: 19px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
    margin-bottom: 28px;
    font-size: 13px;
    line-height: 18px;
}
.catalog-sorting-list {
    display: flex;
    list-style: none;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    padding: 0;
}
.catalog__header p {
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    margin-right: 140px;
}
.catalog-sorting-item:nth-child(1) {
    margin-right: 70px;
}
.catalog-sorting-item:nth-child(2) {
    margin-right: 65px;
}
.catalog-sorting-item:nth-child(3) {
    margin-right: 46px;
}
.catalog-sorting-item button {
    padding: 0;
    border: none; 
    color: var(--color-basic-black-transparent-30);
    background-color: var(--color-basic-transparent);
    border-bottom: 1px dashed var(--color-basic-red);
    cursor: pointer;
}
.catalog-sorting-item_active button{
    border: none; 
    color: var(--color-basic-red); 
}
.catalog-sorting-item button:hover {
    color: var(--color-basic-black);
    border-bottom: 1px solid var(--color-basic-red);
}
.catalog-sorting-item button:active {
    color: var(--color-basic-red);
    border: none;
}
.catalog-sorting-item_active button:hover,
.catalog-sorting-item_active button:active{
    color: var(--color-basic-red);
    border: none; 
}
.catalog__pagination-link {
    font-size: 13px;
    line-height: 18px;
    color: var(--color-basic-black);
}
.catalog__pagination-item_active {
    background-color: var(--color-basic-red);
}
.about-perforators {
    background-color: var(--color-basic-background);
    padding-bottom: 68px;
}
.about-perforators__title{
    font-weight: normal; 
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    padding-top: 64px;
    margin-bottom: 25px;
}
.about-perforators p {
    font-family: 'PT Sans'; 
    font-size: 13px;
    margin: 0;
}
.transport-companies-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.transport-companies-item:last-child {
    margin-bottom: 0;
}
.transport-companies-item::before {
    content: '';
    width: 25px;
    height: 2px;
    background-color: var(--color-basic-red);
    margin-right: 12px;
}
.main-footer__top-wrapper {
    display: flex;
    justify-content: space-between;
}
.main-footer__top-column-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end
}
.main-footer__bottom-wrapper {
    display: flex;
    padding-top: 35px;
    padding-bottom: 35px;
}
.social {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-right: 118px;
    width: 134px;
}
.feedback {
    width: 136px;
    margin: 0;
    margin-right: 52px;
}
.development {
    margin: 0;
    width: 98px;
}
.user-autorization {
    width: 299px;
    margin-left: 51px;
}
.filters-catalog__wrapper {
    display: flex;
    justify-content: space-between;
}
.filters {
    flex-basis: 220px;
}
.catalog {
    flex-basis: 700px;
    font-family: 'PT Sans';
}
.manufacturers-list,
.power-list,
.catalog__pagination-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.catalog__pagination-list {
    display: flex;
}
.filters-title {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0;
    background-color: var(--color-basic-orangelight);
    padding-left: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
}
.popular-manufacturers-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}
.popular-manufacturers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 145px;
    border: 1px solid var( --color-greylight);
}
.popular-manufacturers-link:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.popular-manufacturers-link:active {
    opacity: 0.5;
}
.services__slider-control-list,
.services__slider-content {
    padding: 0;
    margin: 0;
    list-style: none;
}
.services__slider-content-item {
    display: none;
}
.services__slider-content-item_active {
    display: block;
}
.services__slider {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.services__slider-control-list {
    flex-basis: 240px;
}
.services__slider-content {
    flex-basis: 630px;
}
.services__slider-content-body h3,
.services__slider-content-body p {
    margin: 0;
}
.services__slider-content-body p {
    width: 313px;
}
.services__slider-content-body h3 {
    margin-bottom: 30px;
}
.services__slider-content-body {
    min-height: 283px;
    background-position-x: right;
    background-position-y: bottom;
}

.services__slider-content-item:nth-child(1) .services__slider-content-body  {
    background-image: url('../img/delivery.png');
    background-repeat: no-repeat; 
    background-size: 428px 261px;
}
.services__slider-content-item:nth-child(2) .services__slider-content-body  {
    background-image: url('../img/guarantee.png');
    background-repeat: no-repeat;    
    background-size: 389px 283px;
}
.services__slider-content-item:nth-child(3) .services__slider-content-body  {
    background-image: url('../img/credit.png');
    background-repeat: no-repeat; 
    background-size: 465px 285px;  
}
.promo__products-list {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 123px auto;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.promo__products-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 300px;
    overflow: hidden;
    padding-top: 20px;
    padding-left: 23px;
    padding-bottom: 21px;
    padding-right: 43px;
    min-height: 123px;
}
.promo__products-item:last-child {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 3;
    display: block;
    width: 620px;
    min-height: 266px;
    padding: 0;
}
.promo__products-item:nth-child(1){
    background-color: var(--color-special-yellow);
}
.promo__products-item:nth-child(2){
    background-color: var(--color-special-blue);
}
.promo__products-item:nth-child(3){
    background-color: var(--color-special-lilac);
}
.promo__products-item:nth-child(4){
    background-color: var(--color-special-greenlight);
}
.promo__products-item:nth-child(5){
    background-color: var(--color-special-orange);
}
.promo-products-content h3{
    margin: 0;
    margin-bottom: 14px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--color-basic-white);
}
.promo__products-item:nth-child(1) .promo__products-icon {
    width: 44px;
    height: 65px;
    background-image: url('../img/icon-1.svg');
    background-repeat: no-repeat;
    background-size: 44px 65px;
}
.promo__products-item:nth-child(2) .promo__products-icon {
    width: 75px;
    height: 61px;
    background-image: url('../img/icon-2.svg');
    background-repeat: no-repeat;
    background-size: 75px 61px;
}
.promo__products-item:nth-child(3) .promo__products-icon {
    width: 78px;
    height: 62px;
    background-image: url('../img/icon-3.svg');
    background-repeat: no-repeat;
    background-size: 78px 62px;
}
.promo__products-item:nth-child(4) .promo__products-icon {
    width: 59px;
    height: 72px;
    background-image: url('../img/icon-4.svg');
    background-repeat: no-repeat;
    background-size: 59px 72px;
}
.promo__products-item:nth-child(5) .promo__products-icon {
    width: 78px;
    height: 63px;
    background-image: url('../img/icon-5.svg');
    background-repeat: no-repeat;
    background-size: 78px 63px;
}
.promo__products-item:nth-child(4) {
    grid-column-start: 3;
    grid-row-start: 2;
}
.promo__products-item:nth-child(5) {
    grid-column-start: 3;
    grid-row-start: 3;
}
.range-start-end-labels {
    display: flex;
}
.range-start-end-labels input {
    width: 95px;
}